/* TECHNICAL STYLING */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

button, input {
    font-weight: inherit;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* GENERAL STYLING */
#container {
    max-width: 768px;
    height: 100vh;
    margin: 0 auto;
    color: 	#000000;
    background-color: #FFF400;
    border: 5px solid black;
    border-radius: 4px;
    box-shadow: 8px 8px #5538FF
}

/* HEADER */

.header {
    border-bottom: 2px solid black;
    display: flex;
    padding: 6vmin 5vmin 5vmin 2vmin;
    justify-content: right;
    align-items: center;
    gap: 1rem;

}

.logo {
    margin-right: auto;
    font-size: 2rem;
}

.input-grid {
    padding-top:0.2em ;
    padding-bottom:0.2em ;
    max-width: 4.5ch;
    text-align: center;
    font-size: 2rem;
    background-color: #FFFFFF;
    border: 4px solid #000000;
    border-radius: 12px;
    box-shadow: 4px 4px #000000;
}

.reset-grid, .draw, .delete {
    padding: 0.454em 1em;
    font-size: 1.5rem;
    background-color: #FFFFFF;
    border: 4px solid #000000;
    border-radius: 12px;
    box-shadow: 4px 4px #000000;
}

/* GRID CONTAINER */

.grid-container {
    width: 55vmin;
    height: 55vmin;
    margin: 3em auto 0 auto;
    background-color: #FFFFFF;
    outline: 5px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    outline: 1px solid rgb(237, 235, 235);
}

/* MODE BUTTON */

.mode-button {
    /* border: 1px solid red; */
    margin: 0 auto;
    max-width: 50vmin;
    margin-top: 4em;
    display: flex;
    justify-content: center;
    column-gap: 3em;
    row-gap: 2em;
    flex-wrap: wrap;
}

.active {
    background-color: #5538FF;
    color: #FFFFFF;
}

.button:hover {
    scale: 1.1;
}

.button:active {
    scale: 1;
}